.card {
  display: block;
  position: relative;
  width: 200px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  transition: 0.5s ease;
}

.card:hover {
  transform: scale(1.5);
  transition-delay: 0.5s;
  z-index: 1;
}

.image {
  position: block;
  max-height: 100%;
}
