.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  width: 100vw;
  margin-bottom: 10px;
  padding-top: 15px;

  h1 {
    margin-left: 20px;
    cursor: pointer;
  }

  div {
    display: flex;
    width: 60vw;
    justify-content: flex-start;
    align-items: center;

    a {
      margin: 0 35px;
    }
    :hover {
      color: red;
    }
  }
}
