// .item {
// min-width: 200px;
// padding: 10px;
// object-fit: cover;

// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// width: 230px;
// // object-fit: cover;
// margin: 20px;
// }

.carousel {
  height: 600px;
  position: absolute;
  right: 0;
  left: 0;
}
